# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#EMACS and Gedit Backup Files#
#############################

*.~*~
*.~

# Project Files for now
/2006
/2007
/2008
/2009
/2010

#compiled aerminute
/aerminute_v11325